.header-container {
  height: 80px;
  position:fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
  border-radius: 0px;
  background: #00192a;
  border-color: #00192a;
  margin-bottom: 20px;
  left: 0px;
}
.headerDivider {
    border-left: 1px solid #FFFFFF;
    margin: 21px 0px;
    height: 17px;
    width: 1px;
}
.header-container.navbar {
	min-height: 90px;
}

.black-header {
	background-color: #00192a;
}

.header-container .navbar-brand {
    height: 80px;
    padding: 16px 15px;
    line-height: 50px;
}

.header-container .navbar-nav > li > a {
	line-height: 20px;
}