<nav class="navbar navbar-default header-container">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand logo navbar-brand-logo" 
				 routerLink=""><img [src]="headerData.logo.url"
				width="20px" height="20px" /></a>
			<a class="navbar-brand navbar-brand-title" 
				 routerLink="">Henik Technology</a>
		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			</ul>
			<ul class="nav navbar-nav navbar-right">
        <li><a>Home</a></li>
				<li class="headerDivider"></li>
        <li><a >Applications</a></li>
				<li class="headerDivider"></li>
			 <li><a >Blogs</a></li>
			</ul>
		</div>
	</div>
</nav>
